NodeRED/fan_example.json
[
  {
    "id": "b2f49f321c6f5275",
    "type": "tab",
    "label": "fan.controller",
    "disabled": false,
    "info": ""
  },
  {
    "id": "94e4f1228c95d3cc",
    "type": "mqtt in",
    "z": "b2f49f321c6f5275",
    "name": "MQTT Temperature",
    "topic": "test/environment/temp",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "8e702721af722e0b",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 100,
    "wires": [["be70cf61d64a67f7"]]
  },
  {
    "id": "be70cf61d64a67f7",
    "type": "json",
    "z": "b2f49f321c6f5275",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 330,
    "y": 100,
    "wires": [["3d40df7bfc5859ff"]]
  },
  {
    "id": "3d40df7bfc5859ff",
    "type": "function",
    "z": "b2f49f321c6f5275",
    "name": "Save Temperature",
    "func": "let temp = msg.payload.temperature;\nflow.set(\"temperature\", temp);\nreturn { payload: temp };",
    "outputs": 1,
    "x": 530,
    "y": 100,
    "wires": [["09c15fdd05fcf58d", "fc3d7795e8fdcc87"]]
  },
  {
    "id": "09c15fdd05fcf58d",
    "type": "ui_gauge",
    "z": "b2f49f321c6f5275",
    "name": "Temperature Gauge",
    "group": "2a850ea1b814340a",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "ºC",
    "format": "{{value}}",
    "min": 0,
    "max": "50",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "x": 750,
    "y": 60,
    "wires": []
  },
  {
    "id": "fc3d7795e8fdcc87",
    "type": "ui_chart",
    "z": "b2f49f321c6f5275",
    "name": "",
    "group": "2a850ea1b814340a",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Temp History",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [],
    "outputs": 1,
    "x": 760,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "1d31a0b1f6b4e8e2",
    "type": "mqtt in",
    "z": "b2f49f321c6f5275",
    "name": "MQTT Potentiometer",
    "topic": "test/control/fan_speed",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "8e702721af722e0b",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 200,
    "wires": [["cfbc0f70cb20bc03"]]
  },
  {
    "id": "cfbc0f70cb20bc03",
    "type": "json",
    "z": "b2f49f321c6f5275",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 350,
    "y": 200,
    "wires": [["e31faea8e71d72f1"]]
  },
  {
    "id": "e31faea8e71d72f1",
    "type": "function",
    "z": "b2f49f321c6f5275",
    "name": "Check Fan State",
    "func": "let setpoint = msg.payload.potentiometer;\nlet current = flow.get(\"temperature\") || 0;\n\nflow.set(\"setpoint\", setpoint);\n\nlet fan_on = current > setpoint;\n\nreturn {\n    topic: \"test/fan_command/board1\",\n    payload: { fan_on: fan_on },\n    fan_on: fan_on\n};",
    "outputs": 1,
    "x": 570,
    "y": 200,
    "wires": [["b64e334498f9b37f", "401fc8be8866b9cf"]]
  },
  {
    "id": "b64e334498f9b37f",
    "type": "mqtt out",
    "z": "b2f49f321c6f5275",
    "name": "MQTT Fan Command",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "8e702721af722e0b",
    "x": 820,
    "y": 200,
    "wires": []
  },
  {
    "id": "401fc8be8866b9cf",
    "type": "change",
    "z": "b2f49f321c6f5275",
    "name": "Set UI switch",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "fan_on",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 260,
    "wires": [["a020c2156c7b3290"]]
  },
  {
    "id": "a020c2156c7b3290",
    "type": "ui_switch",
    "z": "b2f49f321c6f5275",
    "name": "",
    "label": "Fan State",
    "tooltip": "",
    "group": "2a850ea1b814340a",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 980,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "8e702721af722e0b",
    "type": "mqtt-broker",
    "name": "",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "2a850ea1b814340a",
    "type": "ui_group",
    "name": "Fan Control",
    "tab": "418af92fbd796e79",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "418af92fbd796e79",
    "type": "ui_tab",
    "name": "Demo",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
